# This is a basic workflow to help you get started with Actions

name: Issue Management

# Controls when the workflow will run
on:
  push:
    paths: 
    - 'workflows/issue-management.yml'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  create-issue-in-project:
    runs-on: ubuntu-latest
    steps: 
    - name: GitHub API Request
      # You may pin to the exact commit or the version.
      # uses: octokit/request-action@7e93b91076fad3920c29d44eb2a6311d929db3dd
      uses: octokit/request-action@v2.1.0
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        # HTTP Verb + path as shown on https://developer.github.com/v3/
        route: POST /repos/{owner}/{repo}/issues
        owner: devopsjester
        repo: workflow-experiments
        # Custom media type in the Accept header
        # mediaType: # optional, default is {}
        title: Issue Title
        body: TBD
        
